.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
nul
/.quarto/
/_site/
/_book/
/data/
/präs/
/vorlagen/
*Zeitplan*
/prog/
BIBB_BAuA - Verknüpfung.lnk
/log/
*.zip
~$*
*.xlsx
*.pptx
Zeitplan.xlsx
/results/
/prog_prelim/
/prog_2022/
/prog_2023/
/orig/
/_archive/
/prereq/
/pub/
Teilnahme*
