.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
nul
/.quarto/
/_site/
/_book/
/data/
/orig/
/präs/
/vorlagen/
/log/

*Zeitplan*
/prog/
*.zip
~$*
*.xlsx
*.docx
*.pptx
Zeitplan.xlsx
/results/
/prog_draft/
/orig/
/_archive/
/prereq/
/pub/
Teilnahme*